@import url(styles.css);

.form-container{
    align-items: center;
    background-color: var(--blue);
    border-radius: 50px;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

form{
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

form > h2 {
    font-weight: 700;
    margin-bottom: 15px;
}

.inputs-form {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.form-1,
.form-2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    width: 50%;
    justify-content: flex-start;
}

.form-btn{
    background-color: var(--green);
}

input,
select,
textarea{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 14px;
}

hr{
    width: 80%;
    text-align: center;
    margin: 20px;
}