@import url(styles.css);

.form-container{
    align-items: center;
    background-color: var(--blue);
    border-radius: 50px;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

form{
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    
}

form > h2 {
    font-weight: 700;
    margin-bottom: 15px;
}

.inputs-form {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.form-1,
.form-2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    width: 50%;
    justify-content: flex-start;
}

.form-btn{
    background-color: var(--green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 700;
    width: 13em;
}

.form-btn:hover{
    background-color: var(--dark-blue);
    color: var(--white);
    transition: ease-in-out .5s;
}

input,
select,
textarea{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 14px;
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}

hr{
    width: 100%;
    text-align: center;
    margin: 20px;
}

/**         MEDIAQUERIES        **/

/*      Tablet      */
@media screen and (max-width: 780px){
    .form-container{
    width: 70%;
    }

    .inputs-form{
        flex-wrap: wrap;
        width: 40em;
    }
}

/*      Mobile      */
@media screen and (max-width: 460px){
    .form-container{
        width: 90%;
    }

    .form{
        width: 40em;
        padding: 10px;
    }

    .form-1, .form-2{
        width: 70%;
        justify-content: center;
    }

    .inputs-form{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}
    form>p{
        width: 70%;
    }