@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --black: #000000;
    --blue: #00669f;
    --gray: #f3f3f3;
    --green: #1cd1b0;
    --white: #fff9f9;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/**     NAV-BAR       **/

.nav1 {
    background-color: var(--green);
    font-size: 15px;
    height: 38px;
    line-height: 17.58px;
    padding: 10px;
    width: 100%;
}

.nav2 {
    background-color: var(--blue);
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 101px;
    line-height: 36.88px;
    padding: 30px 0 30px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav2 h1 {
    color: var(--white);
    cursor: pointer;
    font-size: 40px;
    letter-spacing: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/**     SECCION PRINCIPAL, CARDS       **/

main {
    margin-bottom: 15%;
    margin-top: 5%;
}

.card-container {
    display: flex;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 80%;
}

.card1,
.card2,
.card3 {
    background-color: var(--gray);
    border-radius: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    height: 529px;
    margin: 0 auto;
    margin-right: 3%;
    position: relative;
    width: 300px;
}

.card1 {
    background: no-repeat url(../img/fondo_batman.png);
}

.card2 {
    background: no-repeat url(../img/fondo_harley.png);
}

.card3 {
    background: no-repeat url(../img/fondo_superman.png);
}

.card1>img,
.card2>img,
.card3>img {
    border-radius: 50%;
    height: 100px;
    left: 35%;
    margin-top: 10px;
    position: relative;
    top: 25%;
    width: 100px;
}

i {
    color: rgba(255, 255, 255, 0.25);
    font-size: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
}

i:hover {
    color: rgb(255, 0, 0);
}

.personaje {
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    margin-top: 50%;
    text-align: center;
}

.info-pj {
    font-size: 16px;
    margin-top: 0;
    padding: 20px;
    position: relative;
    text-align: left;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 48px;
    margin-top: 0;
    margin-left: 30%;
    padding: 10px 15px;
    text-align: center;
    width: 128px;
}


/**     FOOTER       **/

footer {
    background-color: var(--blue);
    bottom: 0;
    color: #fff9f9;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    width: 100%;
}