@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --black: #000000;
    --blue: #00669f;
    --gray: #f3f3f3;
    --green: #1cd1b0;
    --white: #fff9f9;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/**     HEADER, NAV-BAR        **/

.nav1 {
    background-color: var(--green);
    font-size: 15px;
    height: 38px;
    line-height: 17.58px;
    padding: 10px;
    width: 100%;
}

.nav2 {
    background-color: var(--blue);
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 101px;
    line-height: 36.88px;
    padding: 30px 0 30px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

h1 {
    color: var(--white);
    cursor: pointer;
    font-size: 40px;
    letter-spacing: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/**     SECCION PRINCIPAL, CARDS        **/

main {
    margin-bottom: 15%;
    margin-top: 5%;
}

.card-container {
    display: flex;
    height: auto;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.card{
    background-color: var(--gray);
    border-radius: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 529px;
    margin: 0 auto;
    margin-right: 3%;
    position: relative;
    width: 300px;
    transition: all .4s ease-in-out;
    overflow: none;
}

.card:hover {
    transform: scale(1.1);
}

.card>img{
    border-radius: 50%;
    height: 100px;
    margin-top: 10px;
    position: relative;
    top: 25%;
    width: 100px;
}

.card1 {
    background: no-repeat url(../img/fondo_batman.png);
}

.card2 {
    background: no-repeat url(../img/fondo_harley.png);
}

.card3 {
    background: no-repeat url(../img/fondo_superman.png);
}

.card4 {
    background: no-repeat url(../img/fondo_maravilla.png);
}

i {
    color: rgba(255, 255, 255, 0.50);
    font-size: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
}

i:hover {
    color: rgb(255, 0, 0);
}

.personaje {
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: center;
    align-items:center;
    justify-content: flex-end;
    margin-top: 50%;
}

.info-pj {
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
    cursor: pointer;
    font-size: 15px;
    height: 48px;
    margin-top: 0;
    padding: 10px 15px;
    text-align: center;
    width: 128px;
}


/**     FOOTER       **/

footer {
    align-items: center;
    background-color: var(--blue);
    bottom: 0;
    color: #fff9f9;
    display: flex;
    height: 50px;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    width: 100%;
}

footer>img{
    justify-content: flex-end;
    width: 6em;
    height: auto;
}

/**     RESPONSIVE      **/

/*      Tablet      */
@media  screen and (max-width: 768px) {
    .card-container{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        margin-bottom: 2em;
    }
}

/*      Smartphone      */
@media  screen and (max-width: 460px) {
    .card-container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }

    .card{
        margin: auto;
        margin-bottom: 2em;
    }
}