@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #000000;
    --blue: #00669F;
    --gray: #F3F3F3;
    --green: #1CD1B0;
    --white: #FFF9F9;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**     NAV-BAR       **/

.nav1 {
    background-color: var(--green);
    height: 38px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 17.58px;
}

.nav2 {
    background-color: var(--blue);
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 101px;
    line-height: 36.88px;
    padding: 30px 0 30px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav2 h1 {
    font-size: 40px;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2;
}


/**     SECCION PRINCIPAL, CARDS       **/

main{
    margin-bottom: 15%;
    margin-top: 5%;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    padding: 50px;
}

.card1,
.card2,
.card3 {
    background-color: var(--gray);
    width: 300px;
    height: 529px;
    border-radius: 10px 50px;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-right: 3%;
    margin: 0 auto;
}


.card1 {
    background-image: url(../img/fondo_batman.png);
    background-repeat: no-repeat;
}

.card2 {
    background-image: url(../img/fondo_harley.png);
    background-repeat: no-repeat;
}

.card3 {
    background-image: url(../img/fondo_superman.png);
    background-repeat: no-repeat;
}


.card1>img,
.card2>img,
.card3>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 35%;
    margin-top: 10px;
}

i {
    color: rgba(255, 255, 255, 0.25);
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

i:hover{
    color: rgb(255, 0, 0);
}

.personaje {
    font-size: 30px;
    line-height: 35.16px;
    text-align: center;
    margin-top: 50%;
    font-weight: 500;
}

.info-pj {
    position: relative;
    margin-top: 0;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
    width: 128px;
    height: 48px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 0;
    margin-left: 30%;
}

/**     FOOTER       **/

footer {
    background-color: var(--blue);
    color: #FFF9F9;
    width: 100%;
    height: 50px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}