<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clase 10 - Heroes</title>
    
        <!--        Estilos, Fuentes, Librerias     -->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/estilos_form.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
<body>
    <header>
        <nav class="nav1">
            <p>Descuentos 20%</p>
        </nav>
    </header>

    <nav class="nav2">
        <img src="../img/logo_tienda.png" alt="Logo Tienda">
        <a href="../index.html"><h1>The Comic Store</h1></a>
    </nav>
    <div class="nav-ext nav-ext-back">
        <div class="nav-ext-back">
            <p><a href="../index.html">Regresar</a></p>
        </div>
        <i class="fa fa-undo" aria-hidden="true"></i>
        <ul>
            <li>Contacto</li>
            <li>Registrarme</li>
            <li>Ingresar</li>
        </ul>
    </div>

    <main>
        <section class="form-container">
            <form action="" method="post">
                <h2>Añadí tu super!</h2>
                <p>Agregá tu personaje favirto completando las opciones.</p>
                <div class="inputs-form">
                <div class="form-1">
                    <label for="nombre">Nombre *</label>
                    <input type="text" name="nombre" id="nombre" required>

                    <label for="">Fecha</label>
                    <input type="date" name="" id="">

                    <textarea name="" id="" cols="30" rows="10" placeholder="Descripción"></textarea>
                </div>
                <div class="form-2">
                    <label for="especies">Especie</label>
                    <select name="especies" id="especies" value="Especie" required>
                        <option value="humano">Humano</option>
                        <option value="alien">Alienigena</option>
                        <option value="mutante">Mutante</option>
                        <option value="meta">Metamorfo</option>
                        <option value="amazonas">Amazonas</option>
                    </select>

                    <label for="file">Agregar Foto</label>
                    <input type="file" name="file" id="file">

                    <label for="">Poderes</label>
                    <label for="volar"><input type="checkbox" name="volar" id="volar"> Volar</label>
                    <label for="inteligencia"><input type="checkbox" name="inteligencia" id="inteligencia"> SuperInteligencia</label>
                    <label for="laser"><input type="checkbox" name="laser" id="laser"> Vista de rayo láser</label>
                    <label for="money"><input type="checkbox" name="money" id="money"> Billetera gorda</label>

                    <hr>

                    <label for="">Tipo de personaje</label>
                    <label for="heroe"><input type="radio" name="heroe" id="heroe"> Héroe / Heroína</label>
                    <label for="villano"><input type="radio" name="heroe" id="villano"> Villano / Villana</label>
                </div>
            </div>
                <button type="submit" class="form-btn">Añadir</button>
            </form>
        </section>
    </main>
    <footer>
        <span>&copy; Todos los derechos reservados. FRONT END 1.</span>
        <img src="../img/github.png" alt="GitHub Logo">
    </footer>
</body>
</html>